{{ $file := .Get 0 }}
{{ $data := getJSON $file }}

<style>

	.paper-row {
		margin:0;
		padding: 0;
		margin-bottom: 1%;
	}

	.paper {
		width: 85%;
		display: inline-block;
		padding: 1%;
		margin-left: 1%;
		vertical-align: middle;
		border: solid white;
	}

	.paper:hover {

		width: 85%;
		display: inline-block;
		padding: 1%;
		margin-left: 1%;
		vertical-align: middle;
		border: solid orange;
		border-radius: 3%;

	}

	.shortcut {

		margin-bottom: 2%;
		margin-left: 4%;
		padding: 1%;
		display: inline-block;
		width: 15%;
		border: white solid;
		text-align: center;
		vertical-align: middle;
	}

	.shortcut:hover {

		margin-bottom: 2%;
		margin-left: 4%;
		padding: 1%;
		display: inline-block;
		width: 15%;
		border: orange solid;
		border-radius: 3%;
		text-align: center;
		vertical-align: middle;

	}

</style>

<hr />

<div>

	{{ range $track := $data.tracks }}

	<div class="shortcut">

		<a href="#{{ $track.name }}">{{ print $track.name }}</a>

	</div>

	{{ end  }}

</div>

<hr />

<style>
	.category-btn {
        /* General button styling */
		background-color: lightgray;
		color: black;
        margin: 5px;
        padding: 5px;
    }
    .category-btn.selected {
        /* Styling for selected buttons */
        background-color: darkblue;
        color: white;
    }
</style>



<h2>Primary Keywords</h2>

<div>
	<button class="btn" onclick="$('.category-btn').addClass('selected'); update_categories(this)">All</button>
	<button class="btn" onclick="$('.category-btn').removeClass('selected'); update_categories(this)">None</button>
</div>
<br />
<div>
	<button class="btn category-btn selected" data-category="applications" onclick="update_categories(this)">Applications</button>
	<button class="btn category-btn selected" data-category="human-aware-planning-and-scheduling" onclick="update_categories(this)">Human-aware Planning and Scheduling</button>
	<button class="btn category-btn selected" data-category="knowledge-representation-engineering" onclick="update_categories(this)">Knowledge Representation & Engineering</button>
	<button class="btn category-btn selected" data-category="learning" onclick="update_categories(this)">Learning</button>
	<button class="btn category-btn selected" data-category="multi-agent-planning" onclick="update_categories(this)">Multi-Agent Planning</button>
	<button class="btn category-btn selected" data-category="robotics" onclick="update_categories(this)">Robotics</button>
	<button class="btn category-btn selected" data-category="temporal-planning" onclick="update_categories(this)">Temporal Planning</button>
	<button class="btn category-btn selected" data-category="theory" onclick="update_categories(this)">Theory</button>
</div>
<br />

<hr />

{{ range $track := $data.tracks }}


<div style="width: 95%;  padding-left: 2%;">

	<div>
		<h2 style="color: orange"><a name="{{ print $track.name }}">{{ print $track.name }}</a></h2>
	</div>

	<!--p>Find below the list of the <strong>{{ len $track.papers }} papers</strong> accepted to the <strong>{{ print $track.name }} Track</strong></p-->


	{{ range $index, $paper := $track.papers }}

	<div class="paper-row{{ if and (isset $paper "primary_keywords") (ne (len $paper.primary_keywords) 0) }}{{ range $paper.primary_keywords }}{{ $keyword := . | lower }}{{ $keyword := replace $keyword "/" "-" }}{{ $keyword := replace $keyword " " "-" }} {{ print $keyword }}{{ end }}{{ else }} no-category{{ end }}">

		<div style="width: 10%; padding: 2%; display: inline-block; text-align: center; vertical-align: baseline; border: solid 1px orange; border-radius: 3%;">
			{{ $counter := add $index 1 }}
			{{ print $counter  }}
		</div>

		<div class="paper">

			<div><strong>{{ print $paper.title }}</strong></div>
			<div style="padding: 1%">{{ print $paper.authors }}</div>

			{{ with $paper.journal }}

			<div style="padding: 2%"><strong>{{ print $paper.journal }}</strong> -  <a href="{{ $paper.url }}" target="_blank">{{ print $paper.url }}</a></div>

			{{ end }}

		</div>
	</div>

	{{ end }}

</div>

<hr />

{{ end }}

<script>
	function update_categories(clickedButton) {

		var $clickedButton = $(clickedButton);
        var category = $clickedButton.data('category');

        // Toggle the 'selected' class for the clicked button
        $clickedButton.toggleClass('selected');

		// Determine which categories are selected
		var selectedCategories = $('.category-btn.selected').map(function() {
			return $(this).data('category');
		}).get();

		// Show/hide papers based on selection
		if (selectedCategories.includes('all')) {
			$('.paper-row').show();
		} else {
			$('.paper-row').hide();
			selectedCategories.forEach(function(cat) {
				$('.' + cat).show();
			});
			$('.no-category').show();
		}
	};
</script>

