{{ $file := .Get 0 }}
{{ $sessions := getJSON $file }}
{{ $file := .Get 1 }}
{{ $papers := getJSON $file }}

<style>

:root {
  --numDays: 6;
  --numHours: 19;
  --timeHeight: 60px;
  --calBgColor: #fdefcf;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #e4e4e4;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}

.calendar {
  width: 100%;
  display: grid;
  column-gap: 2%;
  row-gap: 0;
  row: 1px solid;
  grid-template-columns: auto 1fr;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 10%;
}

.timeline {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  margin-left: 2%;
}

.time-marker {

	padding: 3%;
	margin: 0;
	border-top: 1px solid black;
	font-size: 11px; 
}

.days {
  display: grid;
  grid-column: 2;
  column-gap: 1%;
  row-gap: 0;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(15%, 15%));
}

.events {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  background: var(--calBgColor);
}

// Place on Timeline
.dc-block {
	grid-row-start: 1;
	grid-row-end: 19;
}

.ws-block {
	grid-row-start: 1;
	grid-row-end: 15;
}

.opening-block {
	grid-row-start: 15;
	grid-row-end: 18;
}

.invited-block {
	grid-row-start: 1;
	grid-row-end: 3;
}

.coffee-break-morning-block {
	grid-row-start: 5;
	grid-row-end: 6;
}

.lunch-block {
	grid-row-start: 8;
	grid-row-end: 9;
}


.coffee-break-afternoon-block {
	grid-row-start: 12;
	grid-row-end: 13;
}

.social-event-block {
	grid-row-start: 18;
	grid-row-end: 19;
}

.awaards-block {
	grid-row-start: 13;
	grid-row-end: 15;
}

.poster-block {
	grid-row-start: 15;
	grid-row-end: 18;
}

.session-morning1-block {
	grid-row-start: 3;
	grid-row-end: 5;
}

.session-morning2-block {
	grid-row-start: 6;
	grid-row-end: 8;
}

.session-afternoon1-block {
	grid-row-start: 9;
	grid-row-end: 12;
}

.session-afternoon2-block {
	grid-row-start: 13;
	grid-row-end: 15;
}

.business-block {
	grid-row-start: 15;
	grid-row-end: 18;
}

// Event

.title {
  font-weight: bold;
  margin-bottom: 3%;
}

.event {
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 3%;
  margin: 0;
  background: white;
  
}

.space,
.date {
  height: 60px;
}

// Global / Etc

body {
  font-family: system-ui, sans-serif;
}

.mtrack {
  background: var(--eventColor1);
}

.cbreak {
  background: var(--eventColor2);
}

.conf {
  background: var(--eventColor3);
}

.dc, .ws {
  background: var(--eventColor4);
}

.date {
  display: flex;
  gap: 1em;
}

.date-num {
  font-size: 1.3rem;
  font-weight: 600;
  display: inline;
  margin-left: 10%;
}

.date-day {
  display: inline;
  font-size: 0.7rem;
  font-weight: 100;
}

.day-button {
    background-color: #fdefcf;
    border: 1px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.day-button-selected {
    background-color: black;
    border: 1px solid black;
    color: #fdefcf;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

</style>


<script>
    function showDay(day) {
        $(".day-button").removeClass("day-button-selected");
        $("#day-button-" + day).addClass("day-button-selected");

        // Hide all .day-tab with a fade
        $(".day-tab").fadeOut(200);

        // Show the selected day
        if (day == "all") {
            $(".day-tab").fadeIn(200);
        } else {
            $("#day-" + day).fadeIn(200);
        }
    }
</script>


<div id="day-buttons" style="margin: 0; padding: 0%;">
    <button id="day-button-2024-06-04" class="day-button" onclick="showDay('2024-06-04')">June 4</button>
    <button id="day-button-2024-06-05" class="day-button" onclick="showDay('2024-06-05')">June 5</button>
    <button id="day-button-2024-06-06" class="day-button" onclick="showDay('2024-06-06')">June 6</button>
    <button id="day-button-all" class="day-button day-button-selected" onclick="showDay('all')">All</button>
</div>

<br>

<div style="margin: 0; padding: 0%;">

{{ range $day := $sessions }}

    <div id="day-{{ print $day.date }}" class="day-tab">
    <h2>{{ print $day.name }}</h2>
    <br>

    {{ range $slot := $day.slots }}
        <div class="clearfix">
            <div style="margin: 0; margin-bottom: 0%; padding: 0;">
                <div style="width: 100%; background-color: orange; padding: 2%;">

                    <div style="display:inline-block; width: 38%; font-weight: bold;">
                        <a name="{{ $slot.label }}" href="#{{ $slot.label }}" style="color:black">{{ print $slot.name }}</a>
                    </div>
                    
                    <div style="display:inline-block; width: 60%; text-align:right;">
                        {{ print $slot.start }} - {{ print $slot.end }}
                    </div>
                    
                </div>
            </div>

            {{ range $session := $slot.sessions }}
                <div style="margin: 0; margin-bottom: 3%; padding: 0; width: 50%; float: left; background-color: white;">
                    <div style="width: 100%; color:white; background-color: black; padding: 2%; text-align: center;">
                        <a name="{{ $session.label }}" href="#{{ $session.label }}" style="color:white;">{{ print $session.name }}</a>
                        <br>
                        <span style="font-size: 12px; font-style: italic; ">Session Chair: {{ print $session.chair }}</span>
                    </div>

                    {{ range $paper := index (index $papers $session.name) "papers" }}
                    
                        <div style="padding-top:1%; padding-left: 1%; background-color: white; border-bottom: 1px solid white">
                            <p style="font-size: 16px;"><strong><a href="{{ print $paper.url }}">{{ print $paper.title  }}</a></strong></p>
                            <p style="font-size: 16px;margin-left: 2%; font-style: italic;">{{ print $paper.authors }}</p>
                            <p style="margin-left: 2%">
                                {{ if eq $paper.type "long" }}
                                    Long Paper (15min)
                                {{ else if eq $paper.type "short" }}
                                    Short Paper (10min)
                                {{ else }}
                                    Previously Published Paper (10min)
                                {{ end }}
                        </div>
                    
                    {{ end }}
                </div>
            {{ end }}
            
        </div>

    {{ end }}

    </div>


{{ end }}

</div>

